.rentalTable {
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 2%;
  width: 100%;
  color: rgb(0, 0, 0);
  vertical-align: top;
}

.rentalTable > tbody > tr {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  font-size: medium;
}

.rentalTable > tbody > tr > td {
  vertical-align: center;
  text-align: left;
  padding: 2%;
}

.RentalPlacesContainer {
  font-size: x-large;
  padding: 2%;
}

#rentingForm {
  display: inline;
}

#noneLabel {
  text-align: center;
}